</style>
</head>
<body>
  <header>
  <!DOCTYPE html>
  <html>
  <head>
    <title>Hitoria</title>
    <style>
      body {
        background-color: #0080FF;
      }
      header {
        background-color: #0000FF;
        height: 100px;
      }
      h1 {
        color: #5e24ca;
        text-align: center;
        padding-top: 40px;
        font-size: 24px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Meu Site</h1>
    </header>
  </body>
  </html>